{{ define "main" }}
{{ $image := resources.Get .Params.logo }}
{{ if $image }}
  {{ $image = $image.Resize "150x" }}
{{ end }}

<main class="main" role="main">
    <article class="post">
        
        <header class="post__header">
            <h1 class="post__title">{{ .Title }}</h1>
        </header>
        {{ if $image }}
          <img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
        {{ end }}
        <div class="content post__content clearfix">
            {{ .Content }}
        </div>
    </article>
</main>
{{ partial "authorbox.html" . }}
{{ end }}