[submodule ".github/workflows/themes/hugo-flex"]
	path = .github/workflows/themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
[submodule "themes/hugo-flex"]
	path = themes/hugo-flex
	url = https://github.com/ldeso/hugo-flex.git
