public/
.hugo_build.lock
.idea
.fleet
resources/_gen/
scripts/checker/
scripts/vapid-config.json
scripts/subscriptions.json
scripts/node_modules/
scripts/videos/out/
static/api/
static/vapid-config.json
act.secrets
checker
checker.tar.gz
.DS_Store
.venv
.hugo_cache