{{ $.AddPage (dict
    "path"        "2017-test"
    "kind"        "page"
    "frontmatter" (dict
        "title"      "TEST SEASON 2017"
        "date"       "2017-01-01"
        "season_key" "2017"
    )
) }}
