    <div class="card">
        
        <div class="card-header">
            <h2><a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a></h2>
            <p class="date">{{ partial "fecha-es.html" .Date }}</p>
        </div>

        <div class="description">
            {{ .Summary | safeHTML | truncate 200 }}
        </div>
        <div class="card-footer">
            <a href="{{ .Permalink }}">
                <button class="info-btn">Más información</button>
            </a>
        </div>
    </div>
