{{ $format := "2 Jan 2006 15:04" }}
    <div class="card">
        
        <div class="card-header">
            <h2><a href="{{ .RelPermalink }}" rel="bookmark">{{ .Title }}</a></h2>
            <p class="date">{{ .Date.Format $format }}</p>
        </div>

        <div class="description">
            {{ .Summary }}
        </div>
        <div class="card-footer">
            <a href="{{ .Permalink }}">
                <button class="info-btn">Más información</button>
            </a>
        </div>
    </div>
